{% extends "todo/base.html" %}
{% block content %}
    <div style="margin-top: 150px;" class="ui container">
        <h1  class = "ui center aligned header"> Contact</h1>
    </div>
    <center>
        <div style="margin-top: 100px;" class="ui container">
            <p  class = "ui center aligned header"> Email address 📪</p>
            <p  class = "ui center aligned paragraph"> kamil.safaryjski@gmail.com</p>
        </div>
        <div style="margin-top: 50px;" class="ui container">
            <p  class = "ui center aligned header"> GitHub profile 🚀</p>
            <a  class = "ui center aligned paragraph" href="https://github.com/KamSaf"> https://github.com/KamSaf</a>
        </div>

    </center>
{% endblock content %}